<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      type="image/icon"
      href="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Apollo_13-insignia.png/1022px-Apollo_13-insignia.png"
    />
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet" />
    <title>Apollo-Auth</title>
  </head>

  <body>
    <div class="buttons">
      <div class="container">
        <h1>Apollo-Auth</h1>
        <p>Get Started</p>
        <a href="/docs" class="btn effect04" data-sm-link-text="SwaggerUI"
          ><span>FastAPI</span></a
        >
      </div>
    </div>
  </body>
</html>
